/*CSS Variables*/
:root {
  --accent: rgb(200, 170, 110);
  --footaccent: rgba(200, 170, 110, 0.1);
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --prim: rgba(0, 141, 186, 0.75);
  --overlay: rgba(27, 46, 61, 0.835);
  --menu-speed: 0.75s;
}
@font-face {
  font-family: League;
  src: url(FrizQuadrataRegular.ttf);
}
html {
  font-family: League;
  background-image: linear-gradient(rgba(0, 0, 0, 0.698), rgb(0, 0, 0, 0.698)),
    url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
}
/* start of nav */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  background: var(--prim);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger lines */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves 2nd top line down to bottom */
.menu-wrap .hamburger > div:after {
  top: 10px;
}
/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* turn lines into x */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: var(--overlay);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--accent);
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/* end nav */
/* header */
#headerpic img {
  display: block;
  margin: auto;
  width: 600px;
  height: 256px;
}
#header {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}
#header h1 {
  color: var(--accent);
  margin: 0;
}
/* wrapper */
#wrapper {
  width: 1200px;
  margin: auto;
}
/* end of header */
/* home page */
#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* end home page */
/* position grid */
#poslist {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  margin: 6% auto;
}
.position,
.btn {
  display: block;
  margin: 10% auto;
  border: 3px solid white;
  color: var(--accent);
  text-align: center;
  width: 200px;
  margin-bottom: 5rem;
  box-shadow: var(--shadow);
}
.position img {
  width: 136px;
  height: 136px;
}
/* end position grid */
/* individual position champion page */
#individualposheader {
  margin: auto;
  text-align: center;
  color: var(--accent);
}
#individualposheader img {
  width: 272px;
  height: 272px;
}
#poschampgrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
}
#poschampgrid li {
  border: 1px solid var(--prim);
  text-align: center;
  margin-bottom: 5%;
  color: var(--accent);
  box-shadow: var(--shadow);
}
#poschampgrid img {
  margin-top: 3%;
  box-shadow: var(--shadow);
  max-height: 120px;
  max-width: 120px;
}
/* end of individual position champion page */
/* OP Champs grid */
#homepage h1 {
  color: var(--accent);
  text-align: center;
  padding: 1rem;
}
#grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.opchamp {
  margin: 10% auto;
  width: 200px;
  height: 185px;
  border: 3px solid white;
  box-shadow: var(--shadow);
}
.opchamp img {
  display: block;
  height: 150px;
  width: 150px;
  margin: auto;
  padding: 1rem;
}
/* champions page */
#charlist {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  color: var(--accent);
}
#character {
  border: 1px solid var(--prim);
  text-align: center;
  margin-bottom: 5%;
  box-shadow: var(--shadow);
}
#character img, .add-char_charimg {
  display: block;
  margin: 3% auto auto auto;
  box-shadow: var(--shadow);
  max-width: 120px;
  max-height: 120px;

}
#character button {
  background-color: var(--prim);
  border-radius: 1rem;
  margin-bottom: 5%;
  color: var(--accent);
}
#champshortcut {
  display: block;
  background-color: var(--prim);
  color: var(--accent);
  border-radius: 1rem;
  margin: auto;
}
.add-char_submit, .update-char_submit {
  border-radius: 1rem;
  background-color: var(--prim);
  color: var(--accent);
}
#champshortcut a {
  text-decoration: none;
  color: var(--accent);
}
#champshortcut a:hover {
  color: white;
}
.add-char {
  border: 3px solid var(--prim);
  width: 505px;
  margin: 5% auto;
}
/* end champions page */
/* individual champion page */
.maincontent_champ {
  border: 3px solid white;
  width: 400px;
  text-align: center;
  color: var(--accent);
  margin: 7% auto;
}
.maincontent_champ img {
  margin-top: 3%;
  width: 300px;
  height: 300px;
  box-shadow: var(--shadow);
}
.maincontent_champ h3 {
  text-align: center;
  color: white;
}

/* individual champion page */
/* footer */
#footer {
  text-align: center;
  color: var(--footaccent);
  margin: 7% auto;
}
