/*CSS Variables*/
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --accent: #c97de9;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --prim: rgba(0, 141, 186, 0.75);
  --overlay: rgba(27, 46, 61, 0.835);
  --menu-speed: 0.75s;
}
@font-face {
  font-family: League;
  src: url(FrizQuadrataRegular.ttf);
}
html {
  font-family: League;
  background-image: linear-gradient(rgba(0, 0, 0, 0.698), rgb(0, 0, 0, 0.698)),
    url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
}
/* start of nav */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  background: var(--prim);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger lines */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves 2nd top line down to bottom */
.menu-wrap .hamburger > div:after {
  top: 10px;
}
/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* turn lines into x */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: var(--overlay);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/* end nav */
/* header */
#headerpic img {
  display: block;
  margin: auto;
  width: 600px;
  height: 256px;
}
#header {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}
#header h1 {
  color: white;
  margin: 0;
}
/* wrapper */
#wrapper {
  width: 1200px;
  margin: auto;
}
/* position grid */
#grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.position {
  display: block;
  margin: 10% auto;
  border: 3px solid white;
  color: white;
  text-align: center;
  width: 200px;
}
.position img {
  width: 136px;
  height: 136px;
}
/* end position grid */
/* button grid */
#grid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
/* end button grid */
/* OP Champs grid */
#homepage h1 {
  color: white;
  text-align: center;
  padding: 1rem;
}
#grid3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
.opchamp {
  margin: 10% auto;
  width: 200px;
  height: 185px;
  border: 3px solid white;
}
.opchamp img {
  display: block;
  height: 150px;
  width: 150px;
  margin: auto;
  padding: 1rem;
}
/* champions page */
#charlist {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  color: white;
}
#character {
  border: 3px solid var(--prim);
  text-align: center;
}
#character img {
  display: block;
  margin: auto;
}
#character button {
  background-color: var(--prim);
  border-radius: 1rem;
}
